@font-face {
    font-family:'Monsieur La Doulaise', cursive;
    font-weight: 400;
    font-style: normal;
    src: url(https://fonts.google.com/share?selection.family=Italianno|Monsieur+La+Doulaise);
}

@font-face {
    font-family:'Italianno', cursive;
    font-weight: 400;
    font-style: normal;
    src: url(https://fonts.google.com/share?selection.family=Italianno|Monsieur+La+Doulaise);
}

 body {
    font-family: 'Italianno', sans-serif;
    font-size: 20px;
    color: #8f9779;
    background-color: #4B3619;
    letter-spacing: 2px;
}

nav {
    background-color: #c5a46c;
    padding-top: 5px;
    margin: -10px;
    height: 30px;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-evenly;
    /* code from: https://stackoverflow.com/questions/4108726/how-to-spread-elements-horizontally-evenly */
}

h2 {
    font-family: 'Monsieur La Doulaise', sans-serif;
    font-size: 70px;
    font-weight: 400;
    color: #c5a46c;
    background-color: #4B3619;
    padding: 1%;
    text-align: center;
    border-color: #8f9779;
    border-style: dotted;
    border-width: 4px;
    letter-spacing: 13px ;
}

h4 {
    border-radius: 5px;
    padding: 5px;
    inline-size: 100%;
    margin-top: 10%;
}

footer {
    background-color: #c5a46c;
    padding-bottom: 5px;
    margin: -10px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30%;
    text-align: center;
}

a {
    color: #591111;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-size: 20px;
    /* code from: https://www.w3schools.com/cssref/sel_hover.php */
}